@import url('https://fonts.cdnfonts.com/css/doodlesoffun');
@import url('https://fonts.cdnfonts.com/css/questa');
@import url('https://fonts.cdnfonts.com/css/qtie-script');
@import url('https://fonts.cdnfonts.com/css/cakerolli-trial');

                
                
*{
    margin: 0;
}

header{

    width: 100vw;
    height: 14vh;
    border: solid rgb(163, 60, 60); /* Como hacer para que ocupe tambien su propio espacio*/
      
}
body{
    overflow-x: hidden;
    background-color: rgba(243, 234, 228, 0.897);
   }

.fotos{
  background-color: #77af9e;
}

.reviews{
 background-color: #77af9e;
 font-family: 'DoodlesOfFun', sans-serif;
 font-size: 30px;
 color: black;

}
.menu {
    width: 100vw;
    height: 14vh;
    background-color: #af8c77;
    border-radius: 50px;
    font-size: 20px;
    font-family: 'DoodlesOfFun', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    
}

.menu-letras{
    font-size: 25px;
    display: flex;
   
}
.logo {
    width: 80px;
    height: 80px;
    
}

main{
 
    padding: 20px;
       
           
}

span{
    margin: 0% 3%;
}

 h3 {
  opacity: 0;
  transform: translateY(-30px);
  animation: fadeDown 0.8s ease-out forwards;
}

 p {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeUp 0.8s ease-out forwards;
  animation-delay: 0.8s;
}

@keyframes fadeDown {
  to {
    opacity: 5;
    transform: translateY(0);
  }
}

@keyframes fadeUp {
  to {
    opacity: 5;
    transform: translateY(0);
  }
}



   @media screen and (max-width:2000px){
        .menu{
            height:auto;
                     
        }
             main {
    padding-top: 90px;
  }

        header{
            height: auto;
        }

    }

