@import url('https://fonts.cdnfonts.com/css/doodlesoffun');
@import url('https://fonts.cdnfonts.com/css/questa');
@import url('https://fonts.cdnfonts.com/css/qtie-script');
@import url('https://fonts.cdnfonts.com/css/cakerolli-trial');

                
                
*{
    margin: 0;
}

header{

    width: 100vw;
    height: 14vh;
    border: solid rgb(163, 60, 60); /* Como hacer para que ocupe tambien su propio espacio*/
      
}
body{
    overflow-x: hidden;
   
}



.menu {
    width: 100vw;
    height: 14vh;
    background-color: #af8c77;
    border-radius: 50px;
    font-size: 20px;
    font-family: 'DoodlesOfFun', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    
}

.menu-letras{
    font-size: 25px;
    display: flex;
   
}
.logo {
    width: 80px;
    height: 80px;
    
}

main{
    height: 71.3vh;
    padding: 20px;
        
}
.integrantes{
    font-family: 'DoodlesOfFun', sans-serif;
    text-align: center;
}

.presentacion2{
    margin: 0% 3%;
}

.carusel-expe{
    height: 37vh;
    padding: 10px;
    background-color: #f0fdff; 
    margin: 0% 3%;
}

.contenedorimg3{
    width: 120px;
    height: 100%;
    contain: fill;
    float: left;
    transition: transform 0.5s ease;
}

.contenedorimg3:hover {
  transform: scale(1.5);
}
.contenedorimg4{
    width: 120px;
    height: 100%;
    contain: fill;
    float: right;
    transition: transform 0.5s ease;
}

.contenedorimg4:hover {
  transform: scale(1.5);
}
.presentacion{
    font-size: 20px;
    font-family: 'DoodlesOfFun', sans-serif;
    color: blue;
    text-align: center;

}

.informacionContacto{
    display: flex;
    gap: 50px;
    margin-top: 35px;
    font-family: 'DoodlesOfFun', sans-serif;
    font-size: 30px;
    text-align: center;
    flex-wrap: wrap;
    color: black;
    }

   
   @media screen and (max-width:2000px){
        .menu{
            height:auto;
                     
        }
       

        header{
            height: auto;
        }

    }

